@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Poppins', sans-serif;
        background-color: #101010;
        color: #FFF;
    }
}

:root {
    --orange: #F48023;
    --orange-hover: #CB7128;
    --gray: #EAEAEA;
    --blue: #1682FD;
}